<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IBatisNet" version="1.4.1" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net40" />
  <package id="Yunsoft.Common" version="1.0.0.21683" targetFramework="net40" />
  <package id="Yunsoft.DBUtility" version="1.0.0.27928" targetFramework="net40" />
  <package id="Yunsoft.Json" version="1.0.0.36060" targetFramework="net40" />
</packages>